

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Ubuntu:wght@300&family=Water+Brush&display=swap');


/* color scheme */
:root {
    --header-bkg-color:#F5F5F5;    
    --bkg-color:#FFFFFF;
    --cards-bkg:#F5F5F5;
    --footer-bkg:#F5F5F5;
    --heading-logo:#1181B2;
    --heading-cards:#3a3a3a;
    --text-color1:#5EBEC4;
    --link-color:#A0AECD;
    --link-hover:#EA445A;
    --arrow-color:#9c32e7;
    --arrow-hover:#F92C85;
}

/* global styles */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;      
    background-color: white;
    scroll-behavior: smooth;
}


/* typograph - text elements  */

h1 {
    text-align: center;
    font-family: 'Water Brush', cursive;
}

h2 h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size:2rem;
    color: var(--heading-logo);
        
}

.logo-header {
    font-size:4rem;
    text-align: center;
    padding-left: 5px;
}
    
p {
font-size: 1rem;
font-family: 'Ubuntu', sans-serif;
}



/* main layout */


header {
    background-color: var(--header-bkg-color);
    padding: 0.5rem 2%;
   
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    
}

footer {
    margin-top: auto;
    width: 100%;
    height: fit-content;
    background-color: var(--footer-bkg);
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    list-style: none;
    text-decoration: none;
}

nav a {
    display: block;
    padding:10px;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.4s ease;    
}  
nav a:hover {
    color: var(--link-hover);
    transform: scale(1.2);
    text-decoration: underline;
}

#logo-hover:hover {
    color: var(--link-hover);
    transform: scale(1.1);
    text-decoration: none;   
}

.nav-part1,
.nav-part2,
.nav-part3 {
    display: flex;
    align-items: center;
}

.nav-part2 {
    margin-right: auto;
}

.nav-part3 {
    margin-left: auto;
}


#hidden {
    display: none;
}

/* shopping navigation keyframes animations */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fa-cart-shopping {
    animation: fade-in 3s ease-in-out;
}
.fa-credit-card {
    animation: fade-in 3s ease-in-out;
}

.shopping-checkout {
    display: flex;
    margin-left: auto; 
}


.fa-cart-shopping,
.fa-credit-card {
    font-size:1.4rem;
    
}

.fa-cart-shopping:hover,
.fa-credit-card:hover {
    color: var(--link-hover);
    transform: scale(1.2);
    transition: color 0.4s ease;
}



/* hero slider */

.wrapper {
    max-width: 95%;
    padding: 0 2%;
    position: relative;
}
.wrapper i {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    font-size: x-large;
    
    cursor: pointer;
    text-align: center;
    line-height: 1.4;
    color:var(--arrow-color);
}
.wrapper i:hover {
    color: var(--arrow-hover);
} 

.wrapper i:first-child {
    right:2%;
}



.wrapper .slider {
    font-size: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.slider,
.dragging {
    cursor:grab ;
    scroll-behavior: auto;
}
.slider,
.dragging,
 img  {
    /*pointer-events: none;*/
    overflow: hidden;
 }

.slider img {
    
    height: 30vh;
    object-fit: cover;
    margin-left: 1%;
    /*gap: 1%;*/
    width:calc(100% / 3);
}
.slider img:first-child {
    margin-left: 0%;
}

@media screen and (max-width: 900px) {
    .slider img {
        width:calc(100% / 2);
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-part3 {
        display: flex;
        align-items: center;
    }
        
}

@media screen and (max-width: 550px) {
    .slider img {
        width: 100%;
    }
}

/* images inside the cards  */

#images-insde-the-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    height: 16vh;
    z-index: 1000;
}

#images-insde-the-cards-to-display-child-below
 img {
    max-width: 100%;
    height: auto;
}

/* inside "main" display cards  */
.display-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;  
    box-sizing: border-box;
    margin-bottom: 5%;
}

.display-cards > div {
    flex-basis: 30%;  
    height: 25rem;
    background-color: var(--cards-bkg);
    
    border-radius: 4%;
    padding: 1%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeIn 2s forwards;

    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}


.display-1 {
    animation-delay: 1s;
}

.display-2 {
    animation-delay: 2s;
}

.display-3 {
    animation-delay: 3s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/* mouse tracker shoe */


#follower {
    position:absolute;
    z-index: 1000;
}





/* componetes */

.social {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    gap:3%;
    font-size: 1.4rem;
    color: var(--link-color);
}

.social > i {
    display: inline-block;
}


footer > p {
    font-size:0.7rem;
    color: var(--link-color);
    text-align: center;
}


   
/* @ media qurries for smaller screens  */

@media screen and (min-width: 882px) and (min-height: 400px) {
    header {
        background-color: var(--header-bkg-color);
        padding: 0.5rem 2%;
        height: auto;
        width:100%;
       
    }
       
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        margin: auto;
    }
    
    
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
        overflow: hidden;
        
    }
.slider img {
        width: calc(100% / 2);
        height: 30vh;
        object-fit: cover;
        margin: auto;
        align-items: center;
        overflow: hidden;
    }    

footer {
        margin-top: auto;
        width: 100%;
        height: fit-content;
        background-color: var(--footer-bkg);
    }

  }


@media screen and (min-width:400px) and (max-width: 767px) {
    

header {
    background-color: var(--header-bkg-color);
    padding: 0.5rem 2%;
    height: auto;
   
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    
}

footer {
    margin-top: auto;
    width: 100%;
    height: fit-content;
    background-color: var(--footer-bkg);
}
    
.nav-part1,
.nav-part2,
.nav-part3 {
    justify-content: center;
    margin: 0; 
}
nav {
    flex-direction: column;
    align-items: center;
}
        
.nav-part1,
.nav-part3 {
    width: 100%;
    justify-content: center;
}
    
.nav-part2 {
    display: none;
}
    
    
#hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adjust header logo font size */
.logo-header {
    font-size: 2.5rem; 
}
    
/* Adjust dropdown layout */
.dropdown {
    position: relative;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
/* Adjust shopping checkout layout */
.shopping-checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
/* Style dropdown button */
.dropbtn {
    font-size: 1.5rem;
    cursor: pointer;
    color:var(--link-color);
}
      
/* Style dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: relative;
    margin-top: 1%;
    background-color: var(--header-bkg-color);
    max-width: fit-content;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}
      
/* Style dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
      
/* Change link background on hover */
.dropdown-content a:hover {
    background-color: var(--header-bkg-color);
}
      
/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
      
/* Change button background on hover */
.dropdown:hover .dropbtn {
    background-color: var(--link-hover);
}
    
/* Adjust card display layout */
.display-cards {
    flex-direction: column;
}
    
/* Adjust individual card styles */
.display-cards > div {
    width: 96%; 
    height: auto; 
    margin: 0.5rem 0; 
    }
}