
/* hand-written style &  water brush style */
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Water+Brush&display=swap');


/* font-family: 'Delicious Handrawn', cursive;
font-family: 'Water Brush', cursive; */


/* color scheme */


:root {
    /* background colors */
        --header-bkg-color:#F5F5F5;    
        --bkg-color:#FFFFFF;
    
    /* text and headings*/    
        
        --heading-logo:#1181B2;
        
        --heading-cards:#3a3a3a;

        --text-color1:orangered;
        
        
    
    
    /* link and hover */

    --link-hover:#EA445A;
    
    /* cards and sections */
    
    
    /* buttons */    
    
    
    /* other componetes */
    
        
}




/* global styles */
*,*::before, *::after {
    box-sizing:border-box;
}

body {
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:7rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar{
    width: 1rem;

}

html::-webkit-scrollbar-thumb {
    background-color: orange;
}







/* main layout */

header {
    background-color: var(--header-bkg-color);
    padding:1rem 5%;
}




main {

}


aside {

}

footer {

}


/* typograph */

h1 {
    text-align: center;
    color: var();
    font-family: 'Water Brush', cursive;
}

.logo-header {
    font-size:4rem;
    text-align: center;

}
    
p {

}

/* navigation */


.navbar {
    container-type: inline-size;
    container-name: navbar;
}

@container navbar (min-width:667px) {
    .navbar {
        display:flex;
        flex-direction:coloumn;
        flex-wrap:wrap;
    }
}

nav {
    display: flex;
    margin-right: 2rem;
    
}
 
nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    list-style: none;
    text-decoration: none;
   
}
 
nav a {
    display: block;
    padding:10px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #A0AECD;
    transition: color 0.4s ease;    
}  

nav a:hover {
    color: var(--link-hover);
    transform: scale(1.2);
    text-decoration: underline;
}

#logo-hover:hover {
    color: var(--link-hover);
    transform: scale(1.2);
    text-decoration: none;   
}

/* componetes */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    animation: fade-in 2s ease-in-out;
}
